<div class="container" >
  <mat-card class="card-singin">
    <div class="title-custom">Cadastrar</div>
    <form [formGroup]="groupSingup" (ngSubmit)="submit()" novalidate method="POST" class="size">
      <div class="space">
        <mat-form-field class="fullsize">
          <mat-label>Email:</mat-label>
          <input id="email" name="email" type="email" formControlName="email" matInput autocomplete="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="fullsize">
          <mat-label>Senha</mat-label>
          <input id="senha" name="senha" type="password" formControlName="senha" matInput autocomplete="new-password" >
        </mat-form-field>
      </div>
      <div class="fullsize btn-container">
        <button mat-raised-button color="primary" [disabled]="!groupSingup.valid">CADASTRAR</button>
      </div>
    </form>
  </mat-card>
</div>
