<div class="container" >
  <mat-card class="card-singin">
    <div class="title-custom">Adicionar Artigos</div>
    <form [formGroup]="groupSingup" (ngSubmit)="submit()" novalidate method="POST" class="size">
      <div class="space">
        <mat-form-field class="fullsize">
          <mat-label>Título:</mat-label>
          <input id="titulo" name="titulo" type="text" formControlName="titulo" matInput autocomplete="titulo">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="fullsize">
          <mat-label>Descricao:</mat-label>
          <input id="descricao" name="descricao" type="text" formControlName="descricao" matInput autocomplete="new-password" >
        </mat-form-field>
      </div>
      <div class="space">
        <mat-form-field class="fullsize">
          <mat-label>Conteudo:</mat-label>
          <textarea id="conteudo" name="conteudo" type="text" formControlName="conteudo" matInput autocomplete="conteudo"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="fullsize">
          <mat-label>Tags</mat-label>
          <input id="tags" name="tags" formControlName="tags" matInput autocomplete="new-password" >
        </mat-form-field>
      </div>
      <div class="fullsize btn-container">
        <button mat-raised-button color="primary" [disabled]="!groupSingup.valid">CADASTRAR</button>
      </div>
    </form>
  </mat-card>
</div>
