div
{
    height: 10vh;
    width: 100vw;
    background-color:rgba(140, 38, 242, 1);
}


/* Color Theme Swatches in Hex */
.Vivian-1-hex { color: #8D27F2; }
.Vivian-2-hex { color: #7F25D9; }
.Vivian-3-hex { color: #85E7F2; }
.Vivian-4-hex { color: #7ED955; }
.Vivian-5-hex { color: #F2BE22; }

/* Color Theme Swatches in RGBA */
.Vivian-1-rgba { color: rgba(140, 38, 242, 1); }
.Vivian-2-rgba { color: rgba(126, 36, 216, 1); }
.Vivian-3-rgba { color: rgba(133, 231, 242, 1); }
.Vivian-4-rgba { color: rgba(126, 216, 84, 1); }
.Vivian-5-rgba { color: rgba(242, 190, 33, 1); }

/* Color Theme Swatches in HSLA */
.Vivian-1-hsla { color: hsla(270, 88, 55, 1); }
.Vivian-2-hsla { color: hsla(270, 70, 49, 1); }
.Vivian-3-hsla { color: hsla(185, 81, 73, 1); }
.Vivian-4-hsla { color: hsla(101, 63, 59, 1); }
.Vivian-5-hsla { color: hsla(45, 89, 54, 1); }