.top-bar-menu {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

mat-toolbar {
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 3%;
}

.button-logo {
  text-align: center;
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: large;
  height: 100%;
}
